@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    width: 100%;
    height: 100vh;
}

h1, h2{
    margin: 5px 0 20px 0;
    line-height: 1.2em;
    
}

p{
    margin-bottom: 10px;
    text-align: justify; 
}



header, section.normal{
    padding: 20px;
}

section.flex-content{   
    background-color: lightgray;
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    margin-bottom: 10px;
}

article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article > div.text{
    flex: 1 1 400px;
    padding: 10px;
}

article > div.media{
    flex: 1 0 400px;
}

div.media > img{
    display: block;
    margin: auto;
}

div.media > iframe{
    display: block;
    margin: auto;
}