@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bolder;
}

.site-container {
  display: grid;
  /* grid-template-rows: repeat(7, 100px);
  grid-template-columns: repeat(7, auto); */
  grid-template: repeat(7, 100px) / repeat(7, auto);
  text-align: center;
}

.topo {
  background-color: lightblue;
  /* grid-row: 1 / 3;
  grid-column: 1 / 8; */
  grid-area: 1 / 1 / 3 / 8;
  align-content: center;
}

.menu {
  background-color: lightcoral;
  /* grid-row: 3 / 4;
  grid-column: 1 / 8; */
  grid-area: 3 / 1 / 4 / 8;
  align-content: center;
}

.principal {
  background-color: lightcyan;
  /* grid-row: 4 / 7;
  grid-column: 1 / 6; */
  grid-area: 4 / 1 / 7 / 6;
  align-content: center;
}

.secundario {
  background-color: lightgoldenrodyellow;
  /* grid-row: 4 / 7;
  grid-column: 6 / 8; */
  grid-area: 4 / 6 / 7 / 8;
  align-content: center;
}

.rodape {
  background-color: lightgray;
  /* grid-row: 7 / 8;
  grid-column: 1 / 8; */
  grid-area: 7 / 1 / 8 / 8;
  align-content: center;
}
