@charset "UTF-8";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bolder;
}

.site-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 80px 40px 1fr 40px;
  grid-template-columns: 1fr 150px;
  gap: 5px;
  text-align: center;
}

.caixa{
  background-color: lightcyan;
  border: 1px solid black;
}

#topo {

  grid-area: 1 / 1 / 2 / -1;
  align-content: center;
}

#menu {
  grid-area: 2 / 1 / 3 / -1;
  align-content: center;
}

#principal {
  grid-area: 3 / 1 / -2 / -2;
  align-content: center;
}

#secundario {
  grid-area: 3 / 2 / -2 / -1;
  align-content: center;
}

#rodape {
  grid-area: -2 / 1 / -1 / -1;
  align-content: center;
}
